@import '../../variables';

.header {
  margin-inline: auto;
  inline-size: 100%;
  max-inline-size: 700px;
  block-size: auto;
  border: 3px solid $header-outline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 13px;
  padding-inline: 25px 12px;
  border-radius: 5px;
  &__title {
    display: inline-block;
    inline-size: 83px;
    font-size: 21px;
    line-height: 75%;
    text-align: start;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
  &__score {
    background-color: $white;
    inline-size: 80px;
    text-align: center;
    padding-block: 12px;
    border-radius: 3px;
    @media (min-width: 768px) {
      inline-size: 150px;
    }
    & > * {
      line-height: 0.96;
    }
    .score__title {
      letter-spacing: 0.16em;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      color: $score-text;
      @media (min-width: 768px) {
        font-size: 16px;
        letter-spacing: 0.165em;
      }
    }
    .score__count {
      font-weight: 700;
      font-size: 40px;
      letter-spacing: -0.02em;
      inline-size: 80px;
      text-align: center;
      border-radius: 3px;
      color: $dark-text;
      @media (min-width: 768px) {
        font-size: 64px;
        margin-inline: auto;
      }
    }
  }
}